@{
    ViewData["Title"] = "Sobre Nós";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="section-about">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="~/img/Cozinheira.jpg" alt="Girl in a jacket" style="width:460px;height:450px;">
            </div>
            <div class="col-md-6">
                <h2 class="section-title">Sobre Nós</h2>
                <p class="section-description">Somos o melhor site de Receitas. Temos imenso gosto na cozinha e fazemos questão de partilhar todas as receitas deliciosas com vocês. Qual o truque?</p>
                <p class="section-description">
                    Receita de currículo de cozinheira
                    <br />
                    <br />
                    Ingredientes:
                    <br />
                    <br />
                    -500g de determinação;<br />
                    -Duas colheres (sopa) de vontade de trabalhar com o que ama;<br />
                    -Uma pitada de talento na cozinha;<br />
                    -1 kg de paciência e boa vontade;<br />
                    -E alho. Tudo fica melhor com alho.<br />
                </p>
                <a href="https://www.youtube.com/watch?v=gmZxTjgXTSs" class="btn btn-primary">Saiba Mais Com a Nossa Carol</a>
            </div>
        </div>
    </div>
</section>